@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
  padding-top: 5rem;


}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;



}
.lead {


  line-height:30px;
}

.image1 {
  width: 50%;
  height: 30%;
}
.image2 {
  width: 50%;
  height: 30%;
}
.image3 {
  width: 50%;
  height: 30%;
}
.image4 {
  width: 50%;
  height: 30%;
}
